{% if talks %}
    <h3 data-role="list-divider">{{ hour }}</h3>
    {% for talk in talks %}
      <div data-role="collapsible" data-collapsed="true">
        <h3>{{ talk.title }}</h3>
        <p><strong>{{ talk.title }}</strong></p>
        <p>{{ talk.abstract|safe }}</p>
        <p><strong>Palestrante{{ talk.authors.all|pluralize }}:</strong></p>
        <ul>
        {% for author in talk.authors.all %}
          <li><a href="{% url 'clips:author' author.id %}">{{ author.name }}</a></li>
        {% empty %}
          <li>Nenhum palestrante.</li>
        {% endfor %}
        </ul>
        <p><strong>Sala:</strong> <a href="{% url 'clips:room' talk.room.id %}">{{ talk.room }}</a></p>
        <p><strong>Trilha:</strong> <a href="{% url 'clips:zone' talk.zone.id %}">{{ talk.zone }}</a></p>
      </div>
    {% endfor %}
{% endif %}
