{% extends "base.html" %}
{% load clips_tags %}

{% block content %}
<div data-role="content">
  <h2>Sobre o Clips</h2>
  <p>O Clips traz a clips de programação de grandes eventos para seu bolso. Construído em Python e Django, é seu companheiro durante os eventos, disponibilizando uma forma ágil e colaborativa de acompanhar palestras e oficinas. Confere no Clips!</p>
  <p>A maior parte do código do Clips foi escrita por <a href="https://github.com/douglas">Douglas Andrade</a>. O projeto é atualmente impulsionado por:</p>
  <ul>
    <li><a href="http://twitter.com/davilima6">Davi Lima</a> (Design/UX)</li>
    <li><a href="http://valessiobrito.info">Valessio Brito (Marketing)</a></li>
    <li><a href="http://wille.blog.br/">Wille Marcel</a> (Desenvolvimento)</li>
  </ul>
  <p>Além desses, agradecemos também a Wagner Macêdo, Roberto Wolvie (textos) e Bruno Procópio (logo).</p>
  <h3>Sprint Clips!</h3>
  <p>Estamos a procura de investimentos para realizar um sprint, isto é, uma rodada de melhorias ao Clips. Em breve, atualizaremos esta página com informações introdutórias, objetivos e instruções de instalação que devem facilitar a montagem de um ambiente local de desenvolvimento do aplicativo Clips.</p>
  <p>O código-fonte desta aplicação está disponível no <a href="https://github.com/clips-tk/clipsfisl">GitHub</a>. Fork us! ;-)<p>
  <h3>Contato</h3>
  <p>Deseja apoiar o desenvolvimento do Clips? Entre em contato conosco pelo endereço <a href="mailto:clips@clips.tk">clips@clips.tk</a>.</p>
</div>
{% endblock %}
