{% extends "base.html" %}
{% load grade_tags %}
{% block content %}

<div data-role="content">
  <h2>Sobre</h2>
  <p>A grade mobile FISL 13 foi desenvolvida por:</p>
  <ul>
    <li><a href="http://wille.blog.br/">Wille Marcel</a> (Desenvolvimento Django)</li>
    <li><a href="https://github.com/davilima6/">Davi Lima</a> (Design)</li>
  </ul>
  <p>Utilizamos também código escrito por <a href="https://github.com/douglas">Douglas Andrade</a>.</p>
  <p>O código fonte desta aplicação está disponível no <a href="https://github.com/willemarcel/gradefisl">GitHub</a>.<p>
</div>
{% endblock %}
