{% extends "base.html" %}
{% load grade_tags %}
{% block content %}
<div data-role="content">
  <h2>Sobre o Clips</h2>
  <p>O Clips traz a grade de programação da Campus Party para seu bolso.</p>
  <p>Construído em Python/Django, o Clips é seu companheiro durante o evento, fornecendo uma forma ágil e colaborativa para acompanhar palestras e oficinas. Não perca mais nada. Confira no Clips!</p>
  <p>O projeto foi encabe&ccedil;ado por:</p>
  <ul>
    <li><a href="http://twitter.com/davilima6">Davi Lima</a> (Design)</li>
    <li><a href="https://github.com/douglas">Douglas Andrade</a> (Desenvolvimento)</li>
    <li><a href="http://wille.blog.br/">Wille Marcel</a> (Desenvolvimento)</li>
  </ul>
  <p>Agradecemos também a Wagner Macêdo e Valessio Brito (ideias), Roberto Wolvie (textos) e Bruno Procópio (logo).</p>
  <p>O código-fonte desta aplicação está disponível no <a href="https://github.com/willemarcel/gradefisl">GitHub</a>. Fork us! ;-)<p>
  <p><strong>Contato</strong></p>
  <p>Deseja anunciar, apoiar o desenvolvimento do Clips ou simplesmente entrar em contato conosco? Escreva para <a href="mailto:clips@clips.tk">clips@clips.tk</a>.</p>
</div>
{% endblock %}
