{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="grid_12 talk">
            <h2>{{ author.name }}</h2>


            <fieldset>
                <legend><h3>Palestras</h3></legend>
                <ul>
                    {% for talk in author.talk_set.all %}
                        <li><a href="{% url grade:talk talk.id %}">{{ talk.title }}</a></li>
                    {% empty %}
                    Nenhuma palestra.
                    {% endfor %}
                </ul>
            </fieldset>

            <br /><br />

        </div>
    </div>
{% endblock content %}
