{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div data-role="content">
    <h2>{{ author.name }}</h2>
    <p>{{ author.bio }}</p>
    <h3>{% trans "Talk" %}{{ author.talk_set.all|pluralize }}:</h3>
      {% for talk in author.talk_set.all %}
        <div data-role="collapsible" data-collapsed="true">
          <h3>{{ talk.title }}</h3>
          <p><strong>{{ talk.title }}</strong></p>
          <p>{{ talk.abstract|safe }}</p>
          <p><strong>{% trans "Speaker" %}{{ talk.authors.all|pluralize }}:</strong></p>
          <ul>
          {% for author in talk.authors.all %}
            <li><a href="{% url 'grade:author' author.id %}">{{ author.name }}</a></li>
          {% empty %}
            {% trans "No speakers found" %}
          {% endfor %}
          </ul>
          <p><strong>{% trans "Date:" %}</strong> {{ talk.date|date:"d \d\e F - G:i" }}</p>
          <p><strong>{% trans "Room:" %}</strong> <a href="{% url 'grade:room' talk.room.id %}">{{ talk.room }}</a></p>
          <p><strong>{% trans "Track:" %}</strong> <a href="{% url 'grade:zone' talk.zone.id %}">{{ talk.zone }}</a></p>
          <!--p><a href="{% url 'grade:talk' talk.id %}">Mais informações</a></p-->
        </div>
      {% empty %}
        {% trans "No talks found" %}
      {% endfor %}

    <br /><br />

  </div>
{% endblock content %}