{% extends "base.html" %}
{% load grade_tags %}
{% block content %}

<div data-role="content">
  <ul data-role="listview" data-inset="true" data-dividertheme="e">
    <li data-role="list-divider">Programa&ccedil;&atilde;o</li>
    <li><a href="agora/">Agora!</span> </a></li>
    <li><a href="dia/">Por Dia</span></a></li>
    <li><a href="salas/">Por Sala</span></a></li>
    <li><a href="trilhas/">Por Trilha</span></a></li>
  </ul>

  <p><a href="busca/" data-role="button" data-icon="search">Busca</a></p>

  <ul data-role="listview" data-inset="true">
    <li><a href="sobre/">Sobre</a></li>
    <li><a href="http://fisl.org.br">Site FISL 13</a></li>
  </ul>
</div>

{% endblock %}
