<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  <title>FISL 2012 - Fórum Internacional do Software Livre</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
</head>
<body>

<div data-role="page">

  <div data-role="header" data-theme="b">
    <h1>Título da palestra</h1>
    <a href="index.html" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
  </div>

  <div data-role="content">
    <h6 class="">29/06 11:00 | Sala 12</h6>
    <h2>Título da palestra</h2>
    <h4><a href="palestrante.html">Palestrante</a></h4>
    <p>Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso.</p>
    <p>Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso.</p>
    <p>Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso.</p>
    <p>Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso. Este sumário falso, muito falso, sempre falso.</p>
  </div>

  <div data-role="footer">
    <p>
      <a href="#igo">Eu vou!</a> |
      <a href="#relacionadas">Palestras relacionadas</a> |
      <a href="#share">Compartilhe!</a>
    </p>
    <p>FISL 2012 - F&oacute;rum Internacional de Software Livre</p>
  </div>

</div>

</body>
</html>
