{% extends "base.html" %}

{% load grade_tags %}

{% block content %}
    
    {% if data %}
        <img src="{{ data.profile_image_url }}"
             title="{{ data.screen_name }}"
             alt="{{ data.screen_name }}" />

        <div>
            <a href="{% url twitterauth:logout %}">Logout</a>
        </div>
    {% else %}
        <div>
            <a href="{% url twitterauth:login %}">Login</a>
        </div>
    {% endif %}
    
    <div>
        {% for day in days %}
            <div class="row day">
                {% for hour in hours %}
                    <div class="grid_12 hour">
                        <h2>Talks of {{ day|date:"d \d\e F \d\e Y" }} {{ hour }}:00</h2>
                        {% display_talks day hour %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
