{% extends "base.html" %}

{% load grade_tags %}

{% block content %}
    
    {% if user.is_authenticated %}
        <p>Logged as {{ user}}&nbsp;|&nbsp;<a href="{% url twitterauth:logout %}">Logout</a>
    {% else %}
        <p><a href="{% url twitterauth:login %}">Login</a></p>
    {% endif %}
    

  <div data-role="content">
  <ul data-role="listview" data-inset="true" data-dividertheme="e">
                {% for zone in object_list %}
    <li><a href="{{ zone.id }}/">{{ zone }} <span class="ui-li-count">7</span></a></li>
                {% endfor %}
  </ul>
            </div>
  </div>
{% endblock %}
