{% for talk in talks %}
  <div data-role="collapsible" data-collapsed="true">
    <h3>{{ talk.title }}</h3>
    <p><b>{{ talk.title }}</b></p>
    <p>{{ talk.abstract }}</p>
    <p>Palestrantes:</p>
    <ul>
    {% for author in talk.authors.all %}
        <li><a href="{% url grade:author author.id %}">{{ author.name }}</a></li>
    {% empty %}
        Nenhum palestrante.
    {% endfor %}
    </ul>
    <p><b>Trilha / Área:</b> <a href="{% url grade:zone talk.zone.id %}">{{ talk.zone }}</a> / {{ talk.area }}</p>
<!--    <p><a href="{% url grade:talk talk.id %}">Mais informações</a></p>-->
  </div>
{% endfor %}
