{% extends 'base.html' %}

{% block content %}
  <div data-role="content">
    <h2>{{ author.name }}</h2>
    <p>{{ author.bio }}</p>
    <h3>Palestra{{ author.talk_set.all|pluralize }}:</h3>
    {% for talk in author.talk_set.all %}
      <div data-role="collapsible" data-collapsed="true">
        <h3>{{ talk.title }}</h3>
        <p><strong>{{ talk.title }}</strong></p>
        <p>{{ talk.abstract }}</p>
        <p><strong>Palestrante{{ talk.authors.all|pluralize }}:</strong></p>
        <ul>
          {% for author in talk.authors.all %}
            <li><a href="{% url 'clips:author' author.id %}">{{ author.name }}</a></li>
            {% empty %}
            Nenhum palestrante.
          {% endfor %}
        </ul>
        <p><strong>Data:</strong> {{ talk.date|date:"d \d\e F - G:i" }}</p>
        <p><strong>Local:</strong> <a href="{% url 'clips:zone' talk.room.id %}">Sala {{ talk.room }}</a></p>
        <p><strong>Trilha:</strong> <a href="{% url 'clips:zone' talk.zone.id %}">{{ talk.zone }}</a></p>
        <!--p><a href="{% url 'clips:talk' talk.id %}">Mais informações</a></p-->
      </div>
      {% empty %}
      Nenhuma palestra.
    {% endfor %}

    <br /><br />

  </div>
{% endblock content %}
