.ui-page .ui-header,
.ui-page .ui-footer {
  text-align: center;
}

.content-primary {
  float: right;
  margin: 0;
  padding: 1.5em 6% 3em 0;
  width: 60%;
}

.content-secondary {
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 30%;
}

#logo-fisl {
  max-width: 300px;
  width: 100%;
}
