#home { background: url(images/topo-fisl-2012.png) top center no-repeat; }

.ui-page .ui-header, .ui-page .ui-footer { text-align: center;  }

.content-primary {
  width: 60%;
  float: right;
  margin: 0;
  padding: 1.5em 6% 3em 0;
}

.content-secondary {
  width: 30%;
  float: left;
  text-align: left;
  margin: 0;
  padding: 0;
}

#logo-fisl {
  max-width: 265px;
  width: 100%;
}
