.ui-page .ui-header,
.ui-page .ui-footer {
  text-align: center;
}

.content-primary {
  float: right;
  margin: 0;
  padding: 1.5em 6% 3em 0;
  width: 60%;
}

.content-secondary {
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 30%;
}

#logo-clips {
  max-width: 300px;
  width: 100%;
}

.ui-bar-a {
  background: rgb(0, 153, 255);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 162, 254)), to(rgb(0, 153, 255)));
  background-image: -webkit-linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  background-image: -moz-linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  background-image: -ms-linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  background-image: -o-linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  background-image: linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  border: 1px solid rgb(17, 17, 17);
}

.ui-bar-e {
  background: rgb(0, 153, 255);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 162, 254)), to(rgb(0, 153, 255)));
  background-image: -webkit-linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  background-image: -moz-linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  background-image: -ms-linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  background-image: -o-linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  background-image: linear-gradient(rgb(0, 162, 254), rgb(0, 153, 255));
  border: 1px solid rgb(0, 153, 255);
  color: #fff;
  font-weight: normal;
  text-shadow: 0 1px 1px rgb(102, 102, 102);
}
